*{
    margin: 0;
    padding: 0;
 
    box-sizing: border-box;
    font-family:'Barlow', sans-serif;;
}
html{
    scroll-behavior: smooth;
}
#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#header{
   width: 100%;
   height: 100vh; 
    
  
    
    background-size: cover;
    background-position: center;


 
}


.container{ 
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


 nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;


}
 nav ul li a {
color: #dbff4a;
text-decoration: none;
font-size: 18px;
position: relative;
}

nav ul li a::after {

content: '';
width: 0;
height: 3px;
background:  #006445;;
position: absolute;
left: 0;
bottom:-6px;
transition: 0.5s;
}
nav ul li a:hover::after{
width: 100%;

}
.logo{
    width: 20%;
}

#header-text {
    margin-top: 15%;
    font-size: 70px;
    color: goldenrod;

}

.whath1{
    color: aliceblue;
}




.yurr {
width: 15%;

}
p{
    color: aliceblue;
}
textarea{
    background-color: aliceblue;

}
input{
    background-color: aliceblue;

}
.submit{
    background-color:aliceblue;
}
text{
    color: aliceblue;
}
#chat-container {
    width: 500px;
    margin: 0 auto;
    background-color: #00950c;
    padding: 20px;
    border: 2px solid rgb(1, 89, 1);
    border-radius: 10px;
}
#chat-log {
    height: 150px;
    overflow-y: scroll;
    border: 1px solid rgb(0, 156, 0);
    padding: 10px;
    margin-bottom: 10px;
}
#user-input {
    width: 70%;
    padding: 5px;
}
button {
    background-color: rgb(191, 255, 0);
    color: rgb(0, 71, 20);
    padding: 5px;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.con {
    width: 300px;
  }
  input[type="text"],
  textarea {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid#053c17;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #cff899;
    resize: none;
    color: rgb(255, 255, 255);
  }
  input[type="submit"] {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(225, 243, 137);
    color: rgb(25, 63, 10);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(220, 242, 179);
  }
  
  .cc{
    margin-top: 50px;
    margin-left: 100px;
  }
  .c2{
    margin-top: 5px;
    margin-left: 100px;
  }
 .tech{
    margin-top: 50px;
    margin-right: 50px;
    width: 600px;
    float: right;
    border-style: solid;
    border-width: 5px;
    border-color: #00950c;
 }
